body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #4d4d4d;
}

#grid {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(1, 4fr);
  gap: 5%; /* Add gap between cells */
  width: 50vw;
  height: 50vw;
  box-sizing: border-box;
  border-radius: 5%;
  background-color: #eee;
  box-shadow: inset 0 10px 5px #FFF, 0 6px 50px #2d2d2d, 0 15px 50px rgba(0, 0, 0, 0.2);
  transition: all .5s;
  position: absolute;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  border-radius: 6px;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  border: 1px solid #666;
  border-top-color: #eee;
  background-color: #666;
  position: relative;
  width: 100%;
  height: 100%;
  top: -5px;
  max-width: 10vw;
  max-height: 10vw;
  margin-left: 2px;
  background: linear-gradient(to right, #eee, #ccc);
  border-radius: 0;
  border-bottom: 10px solid #aaa;
  transition: all .2s;
  box-shadow: inset -2px 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 8px 8px rgba(128, 128, 128, 0.1), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), -0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04737), -2px 3px 2px rgba(0, 0, 0, 0.04474), -3px 4px 2px rgba(0, 0, 0, 0.04211), -4px 5px 2px rgba(0, 0, 0, 0.03947), -5px 6px 2px rgba(0, 0, 0, 0.03684), -6px 7px 2px rgba(0, 0, 0, 0.03421), -7px 8px 2px rgba(0, 0, 0, 0.03158), -8px 9px 2px rgba(0, 0, 0, 0.02895), -9px 10px 2px rgba(0, 0, 0, 0.02632), -10px 11px 2px rgba(0, 0, 0, 0.02368), -11px 12px 2px rgba(0, 0, 0, 0.02105), -12px 13px 2px rgba(0, 0, 0, 0.01842), -13px 14px 2px rgba(0, 0, 0, 0.01579), -14px 15px 2px rgba(0, 0, 0, 0.01316), -15px 16px 2px rgba(0, 0, 0, 0.01053), -16px 17px 2px rgba(0, 0, 0, 0.00789), -17px 18px 2px rgba(0, 0, 0, 0.00526), -18px 19px 2px rgba(0, 0, 0, 0.00263), -19px 20px 2px transparent;
}

.cell.active {
  z-index: 0;
  background: linear-gradient(to right, #ddd, #ccc);
  top: 1px;
  border-bottom: 4px solid #999;
  box-shadow: inset -1px 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 0 8px 8px rgba(128, 128, 128, 0.1), inset -10px 4px 10px 2px rgba(128, 128, 128, 0.05), inset -10px 4px 10px 2px rgba(128, 128, 128, 0.05), 0px 0px rgba(0, 0, 0, 0.1), -0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04643), -2px 3px 2px rgba(0, 0, 0, 0.04286), -3px 4px 2px rgba(0, 0, 0, 0.03929), -4px 5px 2px rgba(0, 0, 0, 0.03571), -5px 6px 2px rgba(0, 0, 0, 0.03214), -6px 7px 2px rgba(0, 0, 0, 0.02857), -7px 8px 2px rgba(0, 0, 0, 0.025), -8px 9px 2px rgba(0, 0, 0, 0.02143), -9px 10px 2px rgba(0, 0, 0, 0.01786), -10px 11px 2px rgba(0, 0, 0, 0.01429), -11px 12px 2px rgba(0, 0, 0, 0.01071), -12px 13px 2px rgba(0, 0, 0, 0.00714), -13px 14px 2px rgba(0, 0, 0, 0.00357), -14px 15px 2px transparent;
}